body {
    background:rgb(30,30,40);
    display: flex;
    padding:0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form { max-width:420px;
     margin:50px auto;
}
.head{
      text-align: center;
      font-family: Helvetica, Arial, sans-serif;
      color: white;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
    border:2px solid #CC4949;
 }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.btn {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:6px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.btn:hover {
    background:#CC4949;
}

@media (max-width: 600px) {
.feedback-input{
        text-align: left;
}
form{
        /*width: 90%;*/
        min-width: 233px;
        margin-bottom: 5%;
        display: grid;
        flex-direction: column;
}
