/*
.grid a:hover img {
    filter: grayscale(0);
}*/



:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*
{
	margin: 0%;
	padding: 0%;
	padding-top: 1%;
}
body {
	min-height: 100vh;
	background-color: #fafafa;
    background: url(../Media/Images/Gallery/nani.jpg);
	margin: 0%;
	padding: 0%;

}
.gallery-item:hover img{
    filter: grayscale(0);
}
.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
	margin-top: 12em;
}

.cabecera {
    /*Depende del valor */
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.cabecera span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;

    /*Compensa el exceso de margen para los items fuera de la galeria flex*/
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
    filter: grayscale(100%);
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

La siguiente funcion tan solo funcionara si tu navegador soporta CSS grid

No es algo obligatorio para que funcione la página

*/
@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
.logo
{
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
nav
{
	position: absolute;
	width: 100%;
	line-height: 60px;
	z-index: 1;
}

nav ul
{
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
nav ul li
{
    display: inline-block;
    padding: 16px 20px;
}

nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 1.9em;
}

.menu-icon
{
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 5% 10%;
    cursor: pointer;
    color: #fff;
    display: none;
}
.fa
{
    font-size: 2.8em;
}
@media(max-width: 710px) {

    .logo
    {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul
    {
        max-height: 0px;
        background: #000;
    }
    nav.black ul
    {
        background: #000;
    }
    nav ul li
    {
        box-sizing: border-box;
        width: 100%;
        padding: 1px;
        text-align: center;

    }
    nav ul li a
    {
        color: white;
        font-size: 1.2em;
    }
    .menu-icon
    {
        display: block;
    }
    .content
    {
        display: grid;
        flex-direction: column;
    }
    .showing
    {
        max-height: 34em;
    }

}
