html
{
	background-color: #000;
	margin: 0px;
	padding: 0px;
	background-image: url("../Media/Images/Shanhaim/animated-background.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover 100%;
}
body
{
	padding: 0px;
	margin: 0px;
}
nav
{	
	background: #9458B7;
	color: white;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0%;
	width: 100%;
	margin: 0%;
}
nav ul
{
	list-style: none;
	float: left;
	padding: 0px;
	width: 100%;
	display: table;
	text-align: center;	
	margin: 0.5%;
}
nav ul li
{
	display: inline-block;
	float: none;
	padding: 3px 10px;
	margin: 2px;
	/*background: #fafafa;*/
	border-radius: 10px;
}
nav ul li:hover
{
	border: double;
	color: #f64838;
	/*text-decoration: underline;*/
	border-radius: 25px;
	border-color: rgb(10, 10, 10, 0.5);
}
main
{
	color: white;
	font-size: 100%;
	
}
header
{
	color: #CD5C30;
	font-size: 150%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-top: 8%;
	text-align: center;
}
section
{
	background-color: rgba(20, 27, 92, 0.7);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	border-radius: 3% 3%;
	text-align: left;
	font-size: 120%
	
}
footer
{
	display: inline-grid;
	text-align: center;
	background-color: #561BA4;
	color: #FA6756;
	width: 100%;
	margin-bottom: 0%;
	position: fixed;
    bottom: 0;
}