body
{
	background-color: #161616;
	padding: 0px;
	margin: 0px;
	/****Logo encima****/
	margin-top: 3.2%;

}
header{
	text-align: center;
	color: white;
}
form{
	text-align: center;

}
input{
	/*text-align: center;
	width: 10%;
	height: 10%;
	flex-basis: 33.333%;*/
	width: 3em;
    height: 2em;
    margin: 0em 0em 30px;
    background: #93e41c00;
    border: 2px solid #ef2e2e;
    border-radius: 0.03em;
    text-align: center;
    color: #fff;
    min-width: 0;
    font-family: Anton, sans-serif;
    font-size: 40px;
    padding:0em;
}
input:focus{
	background-color: black;
	color: red;
	outline:none;
}
button {
    color: #ef2e2e;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ef2e2e;
    padding: 5px 0;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
button:focus{
	outline: none;
}
/*
*OJO CON LA COMA!!!!!!
*/
h1, h2, h3 {
    margin-bottom: .5em;
    color: #fff;
    font-family: Times New Roman;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}
h1{
	font-size: 50px;
}
footer{
	text-align: center;
	color: white;
	font: inherit;
}
/*p{

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}*/
.footer p {
    font-size: 11px;
    font-weight: 200;
    padding: 5px 0;
}
.footer .copyright {
    font-size: 14px;

}
.footer h3 a {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
		list-style: none;

}
a {
    text-decoration: none;
		vertical-align: inherit;
		display:inline-block;
		color: white;
		font-size: 16px;
		text-transform: uppercase;
		font-family: "Arial";

}

img
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	-webkit-user-drag: none;
}
